#logo{
    margin-left: 50px;
}

#list-navbar , #search-cart{
    margin-left: 200px; 
    font-family: 'Lato', sans-serif;
}

#navbar2 , #navbar{
    background-color: white;
    font-family: 'Lato', sans-serif; 
    border-bottom: 1px solid #e8e8e8;
}

#position{
    color:black;
}

#categories{
    margin-left:50px;
    font-family: 'Lato', sans-serif; 
    color: black
}

#breadcrumb-position{
    background-color: white
}

.widget-title {
    font-size: 1rem;
    margin-bottom: 1em;
    font-weight: 500;
    line-height: 1.5;
    margin-top: .857em;
}

select {
    margin: 0!important;
    cursor: pointer;
    background: transparent url(../../fonts/menu-down.svg?34bd606…) 97% 50% no-repeat;
    background-size: 1.3em 1.3em;
    line-height: 1.2em;
    border: 1px solid #e8e8e8;
    padding: 1rem 1.2rem;
}