ul{
  padding-left: 0
}

li{
  list-style: none
}

button{
  padding-right: 70px;
  display: flex; 
  align-items: center; 
  width: 100%;
  text-decoration: none
}

button{
  border: 0px !important;
  background-color: transparent !important
}

.original{
  color: #387da3;
  font-size: 11px
}

.cocoa{
    color: #df4597;
    font-size: 11px
}

.simple{
    color: #555;
    font-size: 11px
}