@font-face {
  font-family: Lydian;
  src: url(../fonts/Lydian_BT_Roman.ttf);
}
.navbar{
  border-bottom: 1px solid #d5d4c0;
}
.d-flex{
  width: 100%
}
.navbar-brand{
  margin-left: auto;
  margin-right: auto;
  font-family: Lydian;
  font-size: 35px
}
.nav-link{
  font-family: 'Karla', sans-serif !important;
  font-size: 14px !important;
}