<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./css/navbar.css">
  <link rel="stylesheet" href="./css/Moto.css">
  <link rel="stylesheet" href="./css/milk-home.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="index.html">FRONKS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex flex-row justify-content-end">
                <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="dashboard.html"><b>MILKS</b></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="cart.html"><b>YOUR ORDER</b></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="add-item.html" v-if="token == 'admin'"><b>ADD ITEM</b></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="login-regist.html" v-if="!token"><b>LOGIN</b></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="login-regist.html" v-if="!token"><b>SIGN UP</b></a>
                    </li>
                    <li class="nav-item">
                      <button class="nav-link" v-if="token" @click="logout"><b>LOGOUT</b></button>
                    </li>
              </ul>
            </div>
        </div>
    </nav>
    <div class="container" >
        <div class="d-flex align-items-center justify-content-center">
            <div class="content" >
                <h1>ORGANIC NUT MILKS.<br>WE MAKE 'EM FRESH.<br>YOU DRINK 'EM FRESH.</h1>
                <p>Happily delivering to doorsteps in Austin, San Antonio, Houston and Dallas. Made in Austin, TX</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="d-flex flex-row justify-content-around">
            <div class="p-1" v-for="(milk,key) in milks">
                <article class="card ">
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#" class="product-name" style="padding-bottom:0px; margin-bottom:0px">
                                <img :src="milk.logo" class="product-icon" width="25px"><br><br>
                                <span :class="milk.class">{{ milk.name }}</span>
                                <figure class="card-figure">
                                    <img class="card-image" :src="milk.img" :alt="milk.alt" title="milk.title">
                                </figure>
                            </a>
                        </h4>
                    </div>
                </article>
            </div>
        </div>
    </div>
  </div>

  <style>
    #app{
      background-image: linear-gradient(#efefef 90%,#fff 15%);
      overflow: hidden;
      position: relative;
      height: 100vh
    }
    
  </style>


  <script>
  var app = new Vue({
    el: '#app',
    data: {
      token: localStorage.getItem('token'),
      milks: [
        {
          logo: "http://cdn8.bigcommerce.com/s-ayhps3hr1w/stencil/b45bc200-7d2d-0136-0c25-633ff0d6ced1/e/67f30db0-7d4b-0136-d284-4d81a5daa3e5/img/original-icon.svg",
          name: "THIS ONE'S Cow Milk",
          img: "http://cdn8.bigcommerce.com/s-ayhps3hr1w/images/stencil/500x659/products/118/416/Fronks_Original_01__45224.1484091301.png?c=2",
          alt: "Original",
          title: "Original" ,
          class: "original"
        },
        {
          logo: "http://cdn8.bigcommerce.com/s-ayhps3hr1w/stencil/b45bc200-7d2d-0136-0c25-633ff0d6ced1/e/67f30db0-7d4b-0136-d284-4d81a5daa3e5/img/cocoa-icon.svg",
          name: "THIS ONE'S Veggie Milk",
          img: "http://cdn8.bigcommerce.com/s-ayhps3hr1w/images/stencil/500x659/products/117/415/Fronks_Cocoa_01__28865.1484091275.png?c=2",
          alt: "Cocoa",
          title: "Cocoa" ,
          class: "cocoa"
        },
        {
          logo: "http://cdn8.bigcommerce.com/s-ayhps3hr1w/stencil/b45bc200-7d2d-0136-0c25-633ff0d6ced1/e/67f30db0-7d4b-0136-d284-4d81a5daa3e5/img/simple-icon.svg",
          name: "THIS ONE'S Goat Milk",
          img: "http://cdn8.bigcommerce.com/s-ayhps3hr1w/images/stencil/500x659/products/114/419/Fronks_Simple_04__73447.1484151189.png?c=2",
          alt: "Simple",
          title: "Simple" ,
          class: "simple"
        }
      ]
    },
    methods: {
      logout(){
        localStorage.removeItem('token')
      },
    }
  })
  </script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>